@use "../_setting" as s;

#header {
	width:100%;
	position: relative;
    transition: .3s;
	@include s.media(m){
		position: fixed;
		top:0;
		left:0;
		background:#FFF;
		padding-top:1em;
		border-bottom:#003658 solid 3px;
	}
}

.header {
    &__siteTitleBox {
		display:block;
		width:70%;
		float:left;
		padding:1em 0 1em 0;
		display:block;
		@include s.media(m){
			padding:0;
			width:30.6%;
			vertical-align:middle;
		}
		.header__siteTitle img{
			width:100%;
		}
	}
	&__description {
		background:s.$colorType02;
		display:block;
		margin-bottom:0.8em;
		text-align:center;
		color:#FFF;
		font-size:0.8em;
		@include s.media(m){
			margin-top:0.5em;
			font-size:0.9em;
		}
		@include s.media(xl){
			font-size:1em;
		}
	}
	&__telSent01 {
		display:block;
		text-align:center;
		color:#006bb6;
		margin-bottom:0.2em;
		@include s.media(xl){
			font-size:1.1em;
		}
	}
	&__tel {
		display:block;
		text-align:center;
		color:#006bb6;
		margin-bottom:0.2em;
		@include s.media(m){
			padding:0 1em;
		}
	}
	&__telSent02 {
		display:block;
		text-align:center;
		margin-bottom:1em;
		font-size:0.75em;
		@include s.media(xl){
			font-size:0.9em;
		}
	}
    &__contactBox {
		display:none;
		@include s.media(m){
			width:57%;
			float:right;
			display:block;
		}
		@include s.media(xl){
			width:52%;
		}
	}
	&__telBox {
		width:52%;
		float:left;
		display:block;
	}
    &__tel img{
			width:100%;
	}
    &__telSent {
		@include s.media(m){
			background:#ff3414;
			color:#FFF;
			line-height:2.1em;
			vertical-align:middle;
			padding:0.2em 1em;
		  	border-radius: 0.2em 0.2em 0.2em 0.2em;
		}
	}
	&__sendBox {
		width:46%;
			float:right;
		display:block;
		li{
			width:50%;
			padding:0.5em;
			float:left;
			display:block;
			a{
				display:block;
				text-align:center;
				background:#666;
				border-radius:0.5em;
				padding:1em 0.5em 0.7em;
				color:#FFF;
    			border-bottom:#000 solid 3px;
    			transition: 0.3s ease-in-out;
				font-size:0.8em;
				@include s.media(xl){
					padding:0.7em 0.5em 0.7em;
					font-size:1em;
				}
    			&:hover {
				    border-bottom: solid 1px #1d7fde;
				    transform: translateY(3px);
				}
				span{
					display:block;
				}
				img{
					width:2.2em;
				}
			}
			&.header__lineButton {
				a{
					background:#009748;
					color:#FFF;
	    			border-bottom:#008841 solid 3px;
	    			&:hover {
					    border-bottom: solid 1px #008841;
					    transform: translateY(3px);
					    background:#0eb75e;
					}
				}
			}
			&.header__mailButton {
				a{
					background:#ed8020;
					color:#FFF;
	    			border-bottom:#d5731d solid 3px;
	    			&:hover {
					    border-bottom: solid 1px #d5731d;
					    transform: translateY(3px);
					    background:#f19645;
					}
				}
			}
		}
	}
}

#home .header__siteTitleBox dt a:after{
	@include s.media(m){
		content: none;
	}
}